@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
    -webkit-background-clip: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Syncopate);

body{
    font-family: 'Exo', sans-serif;
    background-image: url(../images/lionback.jpg);
    background-position: center;
    background-repeat: no-repeat;
    -moz-background-clip: padding-box;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mainsection {
    overflow: hidden;
    position: relative;
}

.context {
    top: 40px;
    margin: 0 0 30px;
    z-index: 99;
    overflow: auto;
    position: fixed;
    width: 100%;
    padding: 10px 0;
    size: 20px 0;
    background-color: black;
    opacity: .6;
    overflow: hidden;
}

.headerblock {
    position: relative;
    width:100%;
    color: #111;
    opacity:.6;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;

}

.navlinks {
    max-width: 750px;
    position: relative;
    margin: 0 auto;
    left: 13%;
 
}



.navlinks a {
    color: #999;
    text-decoration: none;
    margin-left: 40px;
    display: inline-block;
    border-left: 1px solid #efefef;
    padding-left: 40px;
    line-height: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.liontitle {
    position: relative;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    top: 75%;
    opacity: .7;
}


h1, p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    opacity: .8;
    text-shadow: black;
}

h1 {
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
}

p {
    font-size: 18px;
    margin: 0 auto;
    max-width: 900px;
} 

.liontitle h1{
        display: inline-block;
        font-size: 80px;
        line-height: 0.9;
        padding: 20px;
        font-family: 'Syncopate', sans-serif;
        text-transform: uppercase;
        background: radial-gradient(
          circle farthest-corner at center center,
          white,
          #111
        ) no-repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: relative;
        
}



.vid {
   /* position: relative;
    top: 34%;
    left: 20%;
    margin: 0 auto; 
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 560px; 
    height: 315px; 

    position: absolute; 
    top: 0; right: 0; 
    bottom: 0; left: 0;
    margin: auto;*/
}

.area {
    
    background: -webkit-linear-gradient(to left, #5c390b, #ffb005);  
    width: 100%;
    height:100vh;
    margin: 0 auto;
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 75%;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

/*
@media only screen and (max-width: 480px) {
    .liontitle {
      width: 270px
    }
  }
  
  @media only screen and (min-width:320px) and (max-width:480px) {
    .vid {
      width: 200px
    }
    

  @media only screen and (min-resolution: 150dpi) {
    .logo {
      background-image: url("../img/spaceship@2x.png");
    }
  }
  } */